:root {
  --background: #292c43;
  --background-secondary: #2f334d;
  --background-tertiary: #353a57;

  --text-title: #fff;
  --text-body: #636885;

  --primary: #476eef;
  --primary-hover: #4266df;
  --secondary: #f84b6f;
  --secondary-hover: #e23f5f;
}