@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import 'variables';

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-body);

  &:hover {
    background: var(--primary);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  min-width: 800px;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

input[type="text"] {
  font-size: 14px;
  color: var(--text-title);
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: var(--background-secondary);

  &::placeholder {
    color: var(--text-body);
    font-style: italic;
    font-weight: 700;
  }
}

button {
  cursor: pointer;
}